body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: black;
}

#wrapper {
    width: 600px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#messages-wrap {
    width: 400px;
    float:left; /* add this */
}
#round-number {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}


